<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Please enter GitHub username:</h1>
<form id="myForm" method="post" action="">
    <label>
        <input id="input" name="input" type="text"/>
    </label>
    <input id="submit" type="submit" value="Check"/>
</form>
</body>
</html>